<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .lists li{ overflow:hidden; background:rgba(0,255,255,.5);}
      a{padding:3px 8px; text-decoration:none; margin-left:6px; font-size:12px; border:1px solid #ddd; background:red;}
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <ul class="lists">
      <li>
        <a href="11">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="11">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="11">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="11">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="11">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="11">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="11">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
      </li>
    </ul> 
    
    <button>ajax 请求</button>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    
    <script>
      $(function(){
        $('button').click(function(){
          $.ajax({
            type:'POST',
            url:'/admin/article',
            data:{title:'Hello World', content:'Hello Express'},
            success: function(data){
              console.log(data);
            },
            error: function(err){
              console.log(err);
            }
          })
        })
      });
    </script>
  </body>
</html>
