<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <ul>
        <% teaches.forEach(function(teach){ %>
          <li>
            <p>name: <%= teach.name %></p>
            <p>sex: <%= teach.sex %></p>
          </li>
        <% })%>
      </ul>
    </div>
  </body>
</html>
